@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-textc: rgb(166, 166, 166);
  --main-input-textc: whitesmoke;
  --main-numbersc: rgba(0, 200, 120, 1);
  --bs-emphasis-color: rgba(0, 200, 120, 1);
  --bs-link-hover-color: rgba(0, 200, 120, 1);
  --bs-body-bg: #11131a;
  --main-elc: #1e222d;
  --main-bluec: rgb(0, 106, 255);
  --seco-grayc: rgb(175, 175, 175);
  --bs-border-color: rgb(24, 24, 36);

  --highcharts-background-color: #000;
  --highcharts-neutral-color-100: #fff;
  --highcharts-neutral-color-80: #ccc;
  --highcharts-neutral-color-60: #999999;
  --highcharts-neutral-color-20: #333333;
  --highcharts-neutral-color-10: #191919;
  --highcharts-neutral-color-3: #080808;
  --highcharts-highlight-color-80: #cca352;

  --border-color: #383a3f;
  --bs-body-bg: #25272d;
  --bs-body-color: #fff;
  --danger-color: #dc3545;
  --main-background-color: #1a1c22;
  --main-primary-button: #1fcb4f;
  --main-secondary-button: #dc3545;
  --main-secondary-color-40: rgba(37, 39, 45, 0.4);
  --main-secondary-color: #25272d;
  --main-text-color: #fff;
  --separator-line-color: #fff;
  --success-color: #00c878;

  --chart-background-color: #25272d;
  --chart-gain-color: #28a79b;
  --chart-loss-color: #e10000;

  --main-tertiary-color: #282C35;
}

.light {
  --main-textc: #1e222d;
  --main-input-textc: #11131a;
  --bs-body-bg: whitesmoke;
  --main-elc: #e2e8f0;
  --bs-border-color: whitesmoke;

  --highcharts-background-color: #fff;
  --highcharts-neutral-color-100: #000;
  --highcharts-neutral-color-80: #333333;
  --highcharts-neutral-color-60: #666666;
  --highcharts-neutral-color-20: #cccccc;
  --highcharts-neutral-color-10: #e6e6e6;
  --highcharts-neutral-color-3: #f7f7f7;
  --highcharts-highlight-color-80: #335cad;

  --border-color: #8ca3c2;
  --bs-body-bg: #d8e3f8;
  --bs-body-color: #8ca3c2;
  --danger-color: #dc3545;
  --main-background-color: #fff;
  --main-primary-button: #407adb;
  --main-secondary-button: #dc3545;
  --main-secondary-color-40: rgba(216, 227, 248, 0.4);
  --main-secondary-color: #d8e3f8;
  --main-text-color: #8ca3c2;
  --separator-line-color: #93a8c6;
  --success-color: #00c878;

  --chart-background-color: #e6ebf4;
  --chart-gain-color: #28a79b;
  --chart-loss-color: #e10000;
}

.purple {
  --border-color: #fff;
  --bs-body-bg: #282454;
  --bs-body-color: #fff;
  --danger-color: #dc3545;
  --main-background-color: #1e1b3e;
  --main-primary-button: #7c54f5;
  --main-secondary-button: #dc3545;
  --main-secondary-color-40: rgba(40, 36, 84, 0.4);
  --main-secondary-color: #282454;
  --main-text-color: #fff;
  --separator-line-color: #555272;
  --success-color: #00c878;

  --chart-background-color: #282454;
  --chart-gain-color: #28a79b;
  --chart-loss-color: #e10000;
}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 11px;
}

body {
  position: relative;
  height: 100vh;
  background-color: var(--main-background-color);
}

#root {
  height: 100%;
  background-color: var(--main-background-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#faq h2 {
  color: var(--main-text-color);
  font-size: 17px !important;
  margin-top: 1.66%;
  margin-left: 0;
  margin-right: 0;
  font-weight: 500;
  flex: 1;
  text-align: center;
}

.btn-success {
  --bs-btn-bg: var(--success-color);
}

label {
  color: var(--main-text-color);
  font-weight: 500;
}

input {
  margin-top: 1%;
  background-color: var(--main-secondary-color);
  border: 1px solid var(--main-secondary-color);
  border-radius: 5px;
  height: 24px;
  padding: 4px;
  color: var(--main-text-color);
  text-align: center;
}

input:focus-visible {
  outline: 2px solid var(--main-secondary-color);
}

.hidden {
  display: none;
}

#header {
  display: flex;
  height: 10%;
}

#main-container {
  background-color: var(--main-secondary-color);
  display: flex;
  height: 90%;
}

#logo {
  width: 100px;
}

#header-info {
  display: flex;
  flex-direction: row;
  flex: 11;
  margin: 4px;
}

#balance {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.balance-item {
  align-items: center;
  background-color: var(--main-secondary-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin: 0 2px;
}

#balance-item-lang {
  display: flex;
  flex-direction: row;
}

.balance-nums {
  color: var(--main-primary-button);
  font-size: 20px;
  font-weight: 600;
  outline: none;
  text-align: center !important;
  width: 100%;
}

.balance-title {
  background-color: var(--main-secondary-color);
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.lang-flag:hover {
  box-shadow: 0px 0px 15px rgba(3, 82, 253, 0.4);
}

.acc-btn {
  background-color: var(--main-primary-button);
  border-radius: 5px;
  border: none;
  font-weight: 500;
  margin: 0 12px;
  padding: 0 12px;
}

.acc-btn span {
  background-color: var(--main-primary-button);
}

.acc-info {
  background-color: var(--main-secondary-color);
  border-radius: 5px;
  border: 1px solid var(--main-secondary-color);
  display: inline-block;
  position: absolute;
  right: 0.5%;
  top: 9.75%;
  width: 200px;
  z-index: 1;
}

.acc-info * {
  background-color: var(--main-secondary-color);
}

.acc-layout {
  border-radius: 5px;
  border: 1px solid var(--main-secondary-color);
  display: flex;
  flex-direction: column;
}

.active-acc,
.other-acc {
  border: 1px solid var(--main-secondary-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.active-acc label,
.other-acc label {
  font-weight: 700;
  margin: 8px;
  text-align: left;
}

.acc-tile {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 8px 0;
}

.acc-tile .acc-tile-type {
  background-color: var(--main-background-color);
  border-radius: 5px;
  color: var(--main-primary-button);
  font-weight: 600;
  padding: 5px 10px;
}

.deposit-acc-btn {
  background-color: var(--main-primary-button);
  border-radius: 5px;
  border: none;
  font-weight: 600;
  margin: 8px auto;
  padding: 8px 0;
  width: 70%;
}

.deposit-acc-btn:hover {
  opacity: 0.8;
}

.open-acc-btn {
  background-color: var(--main-background-color);
  border-radius: 5px;
  border: none;
  font-weight: 600;
  margin: 8px auto;
  padding: 8px 0;
  width: 70%;
}

.open-acc-btn:hover {
  opacity: 0.8;
}

#deposit {
  display: flex;
  flex: 1;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  margin-right: 13px;
  padding: 0;
  background-color: var(--bs-body-bg);
}

#sidebar {
  align-items: center;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100px;
}

#side-main-menu {
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 80%;
  margin: 4px 8px 1px 0;
  width: 100%;
}

#side-out-menu {
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 20%;
  margin: 1px 8px 0 0;
  width: 100%;
}

.side-btn {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 12px 0;
}

.side-btn-acc {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 4px 0;
}

ion-icon,
button {
  transition: color 0.3s ease;
}

#side-out-extra,
#side-logout {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  text-align: center;
  width: 100%;
}

.side-button {
  border: none;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.side-btn-acc:hover,
.side-btn:hover,
#side-logout:hover,
#side-out-extra:hover {
  border: none;
  cursor: pointer;
}

.side-out-button {
  border: none;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

#faq {
  border-radius: 5px;
  height: 100%;
  padding: 64px;
}

#content {
  background-color: var(--main-secondary-color);
  height: 100%;
  padding: 4px;
  width: calc(100% - 100px);
}

#account {
  background-color: var(--main-background-color);
  border-radius: 5px;
}

#account-profile {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

#account-profile h1 {
  margin: 24px 0;
}

.account-card {
  background-color: var(--main-secondary-color);
  border-radius: 5px;
  margin: 32px 0;
  width: 50%;
}

.acc-selection {
  align-items: center;
  background-color: inherit;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
}

.acc-selection label {
  background-color: inherit;
  font-size: 16px;
  font-weight: 700;
}

#account-input {
  width: 45%;
}

.acc-main-content {
  align-items: center;
  background-color: inherit;
  display: flex;
  justify-content: space-evenly;
  margin: 24px 0;
}

.acc-img-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: inherit;
}

.acc-img-name img {
  border-radius: 20px;
}

.acc-img-name span {
  color: var(--success-color);
}

.acc-img-name label,
.acc-img-name span {
  background-color: inherit;
  font-weight: 700;
}

#create-account-button {
  background-color: var(--main-primary-button);
  border-radius: 5px;
  border: none;
  font-weight: 600;
  padding: 8px 0;
  width: 25%;
}

#create-account-button:hover {
  opacity: 0.8;
}

#acc-img-placeholder {
  flex: 0.5;
  width: 40%;
  margin-top: 8%;
  margin-bottom: 1%;
  cursor: pointer;
}

#acc-profile-main {
  border-radius: 5px;
  width: 50%;
}

#acc-info-personal,
#acc-change-pass {
  background-color: var(--main-secondary-color);
  border-radius: 5px;
  padding: 32px;
  width: 50%;
}

#acc-change-pass h2 {
  background-color: inherit;
  margin: 0;
  text-align: center;
}

.acc-change-pass-btn {
  align-items: center;
  background-color: inherit;
  display: flex;
  justify-content: flex-end;
  margin: 24px 0;
}

.acc-change-pass-btn button {
  border-radius: 5px;
  border: none;
  font-weight: 600;
  margin: 0 12px;
  padding: 8px 0;
  width: 25%;
}

.acc-change-pass-btn button:hover {
  opacity: 0.8;
}

.acc-profile-main-item,
.acc-info-personal-item,
.acc-change-pass-item {
  align-items: center;
  color: var(--main-text-color);
  display: flex;
  font-size: 14px;
  font-weight: 500;
  justify-content: space-between;
  margin: 12px 0;
  padding: 0 12px;
}

.acc-info-personal-item,
.acc-change-pass-item {
  background-color: inherit;
}

.acc-info-personal-item input,
.acc-change-pass-item input {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  height: 28px;
  width: 256px;
}

.acc-info-personal-item h6,
.acc-change-pass-item h6 {
  background-color: inherit;
  font-weight: 700;
  margin: 0;
}

#acc-profile-main hr {
  color: var(--main-secondary-color);
}

#acc-profile-main h6 {
  margin: 0;
}

#documents-button {
  width: 140px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid rgb(33, 101, 249);
  background-color: var(--main-bluec);
  color: var(--main-numbersc);
}

#personal-info {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.personal-info-options {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 24px 0;
  width: 100%;
}

.personal-info-options button {
  padding: 12px 0 !important;
}

#acc-save-button {
  background-color: var(--main-primary-button);
  border-radius: 5px;
  border: none;
  display: block;
  font-weight: 600;
  margin: 24px auto;
  padding: 8px 0;
  width: 25%;
}

#acc-save-button:hover {
  opacity: 0.8;
}

#verification-docs {
  background-color: var(--main-secondary-color) !important;
  border-radius: 5px;
  padding: 32px 64px;
  width: 50%;
}

#verification-docs h3 {
  background-color: inherit;
  font-weight: 600;
  margin: 0 0 32px 0;
  text-align: center;
}

#verification-docs h6 {
  background-color: inherit;
  font-weight: 700;
  margin: 0 0 8px 0;
  text-align: center;
}

#verification-docs p {
  background-color: inherit;
  font-weight: 500;
  opacity: 0.8;
  text-align: center;
}

#verification-docs form div {
  background-color: var(--main-secondary-color);
  display: flex;
  flex-direction: column;
}

#verification-docs form div label {
  background-color: inherit;
}

#verification-docs form div input {
  background-color: var(--main-background-color);
  height: 32px;
  margin: 0 0 12px 0;
  padding: 5px;
}

#verification-docs form button {
  background-color: var(--main-primary-button);
  border: none;
  padding: 8px 0;
  width: 100%;
  font-weight: 600;
  border-radius: 5px;
}

#account-transactions {
  align-items: center;
  background-color: var(--main-background-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.transactions-btn {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 24px 0;
  width: 50%;
}

.transactions-btn button {
  padding: 12px 0 !important;
  font-weight: 600;
}

.transactions-table {
  border-radius: 5px;
  padding: 12px;
  width: 100%;
}

.transactions-table nav,
.transactions-table nav * {
  background-color: inherit;
}

.transactions-table .rdt_TableCell div,
.transactions-table .sc-crzpnZ div,
.transactions-table .sc-crzpnZ {
  background-color: inherit;
}

.transactions-table .sc-lmgPJu {
  background-color: var(--main-secondary-color);
}

#transaction-request .btn {
  background-color: var(--main-text-color);
  border-radius: 5px;
  border: none;
  color: var(--main-background-color);
  font-weight: 600;
  padding: 8px 0;
  width: 256px;
}

#transaction-request .btn:hover {
  opacity: 0.8;
}

#deposit-modal .modal-dialog {
  border-radius: 5px;
  border: none;
  width: 50%;
  background-color: var(--main-secondary-color);
}

#deposit-modal .btn-close {
  margin: 0;
}

#deposit-modal .deposit-modal-item {
  align-items: center;
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  margin: 2% 15%;
}

#deposit-modal .deposit-modal-item label {
  background-color: inherit;
}

#deposit-modal .deposit-modal-item input {
  border-radius: 5px;
  border: none;
  height: 32px;
  width: 60%;
}

#deposit-modal .deposit-modal-item input,
#deposit-modal .deposit-modal-item select {
  background-color: var(--main-background-color);
}

#deposit-modal .btn-grp {
  align-items: center;
  background-color: inherit;
  display: flex;
  justify-content: flex-end;
  margin: 12px 0;
}

#deposit-modal .btn-grp .btn-i {
  border-radius: 5px;
  border: none;
  font-weight: 500;
  margin: 0 2%;
  padding: 8px 0;
  width: 20%;
}

#deposit-modal .btn-grp .btn-i:hover {
  opacity: 0.8;
}

#dep-successModal .modal-dialog {
  background-color: var(--main-secondary-color);
  border-radius: 5px;
  border: none;
  width: 25%;
}

#dep-successModal .modal-dialog p {
  background-color: inherit;
  color: var(--main-primary-button);
  font-weight: 700;
  margin: 15% 0;
  text-align: center;
}

#trans-his {
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

#trans-his {
  flex: 4;
  max-height: 340px;
  border: 1px solid var(--bs-border-color);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(17, 17, 23, 0.5);
  width: 88%;
  margin-bottom: 5%;
  overflow: auto;
}

#transactions-his-table {
  max-height: 340px;
  overflow-y: auto;
  border-collapse: collapse;
  overflow-x: auto;
  width: 100%;
}

#transactions-t-body {
  font-size: 12px;
}

#withdraw-amount,
#withdraw-card {
  margin: 0;
  padding: 0;
  flex: 1;
  margin-bottom: 2%;
  width: 50%;
}

#trade-div {
  background-color: var(--main-secondary-color);
}

#trade {
  background-color: var(--main-secondary-color);
  display: flex;
}

#newOrder {
  background-color: var(--main-secondary-color);
  border-radius: 5px;
  overflow: auto;
  width: 300px;
}

#newOrderData {
  align-items: center;
  height: 100%;
  justify-content: center;
  text-align: center;
}

#newOrderData h6 {
  border-bottom: 1px solid var(--main-secondary-color);
  color: var(--main-primary-button);
  font-size: 20px;
  font-weight: 700;
  padding: 5px 0;
}

#newOrderForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-group {
  margin: 8px 0;
  width: 80%;
}

.btn-group button {
  padding: 8px 0;
}

.vol-group {
  display: flex;
  margin: 4px 0;
}

.vol-group label {
  font-weight: 600;
  text-align: left;
  width: 80%;
}

.vol-input {
  align-items: center;
  display: flex;
}

.vol-input span {
  background-color: var(--main-secondary-color);
  border-radius: 5px;
  border: 1px solid var(--border-color);
  cursor: pointer;
  font-size: 24px;
  height: 40px;
  padding: 0 12px;
  user-select: none;
}

.vol-input input {
  height: 40px;
  width: 70px;
}

.margin-label {
  font-weight: 600;
  margin: 2px 0;
  text-align: left;
  width: 90%;
}

.margin-label span {
  font-weight: 400;
}

.custom-caret-up-icon,
.custom-caret-down-icon {
  display: flex;
}

.custom-caret-up-icon .fa-caret-up path {
  color: lime !important;
}

.custom-caret-down-icon .fa-caret-down path {
  color: red !important;
}

.order-actions {
  display: flex;
  padding: 3px 10px;
}

.order-actions .custom-delete-icon {
  margin-left: 5px;
}

.order-actions .custom-delete-icon .fa-xmark {
  font-size: 15px;
}

.modal-style-edit .modal-dialog-centered {
  background-color: transparent;
}

.modal-style-edit .modal-content {
  border-radius: 5px;
}

.modal-style-edit .btn-close {
  margin-right: 0.2rem !important;
}

.modal-content .light .btn-close {
  filter: unset !important;
}

.order-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.order-modal {
  background-color: #605e5e;
  padding: 20px;
  border-radius: 8px;
  max-width: 300px;
  /* Adjust the maximum width */
  width: 100%;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.9s, transform 0.3s;
}

.columns-modal {
  right: 2%;
  bottom: 15%;
}

/* Hide the modal when it's closed */
.order-modal-hidden {
  opacity: 0;
  transform: scale(0.8);
  pointer-events: none;
}

.fWGDho div:first-child {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.order-column {
  width: 100% !important;
  height: 100% !important;
}

.newOrderButton {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.newOrderButton button {
  border-radius: 5px;
  border: none;
  font-weight: 600;
  padding: 8px 0;
  width: 48%;
}

#chart {
  background-color: var(--main-secondary-color);
  border-radius: 5px;
  flex: 3;
  margin-right: 8px;
  overflow: hidden;
  text-align: center;
}

ul {
  background-color: var(--main-secondary-color);
}

#assets {
  border-radius: 5px;
  height: 100%;
  margin-right: 5px;
  overflow: auto;
  padding: 8px 10px;
}

.add-symbol-btn {
  background-color: var(--main-primary-button);
  border-radius: 5px;
  border: none;
  font-weight: 600;
  margin-left: 25%;
  padding: 8px;
  width: 50%;
}

.add-symbol-btn span {
  background-color: var(--main-primary-button);
}

.add-symbol-btn:hover {
  opacity: 0.8;
}

#assetDeleteIcon {
  color: var(--danger-color);
}

#closeDealIcon path {
  fill: var(--danger-color);
}

#orders {
  background-color: var(--main-background-color);
  border-radius: 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  overflow: auto;
  padding: 0 8px;
  position: relative;
}

#orders * {
  background-color: inherit;
}

#orders li button {
  background-color: var(--main-secondary-color);
  border-radius: 5px;
  font-weight: 700;
  margin: 8px 4px;
  width: 100px;
}

#orders li button:hover {
  border-color: var(--main-primary-button);
}

#orders li button.active {
  border-color: var(--main-background-color);
}

.orders-ext {
  display: inline-block;
  margin: 8px;
  position: absolute;
  right: 0;
}

.orders-side {
  align-items: center;
  display: flex;
}

.orders-side button {
  background-color: var(--main-secondary-color) !important;
  border-radius: 5px;
  border: none;
  color: var(--main-primary-button);
  font-weight: 700;
  margin: 0 8px;
}

.container {
  max-width: 2048px;
}

.text-center {
  text-align: center !important;
}

.nav-item {
  border-radius: 5px 5px 0 0;
  margin-right: 0.5rem;
}

.nav-link {
  color: var(--main-text-color);
}

#chart .nav-link.active {
  background-color: var(--main-background-color);
  border-bottom: 3px solid var(--main-primary-button);
}

#chart .nav-link:hover {
  color: var(--main-primary-button);
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: var(--bs-body-bg);
  padding: 0;
  margin: 0;
  table-layout: auto;
  /* font-size: 14px; */
}

orders-table {
  max-height: 100%;
  /* Set the maximum height of the container */
}

.sticky-header {
  position: sticky;
  /* border: 3px solid var(--bs-border-color); */
  top: 0;
  background-color: whitesmoke;
  /* Ensure header remains visible */
  z-index: 100;
  /* Ensure header is above table rows */
}

th,
td {
  border: 1px solid var(--main-elc);
  padding: 8px;
  text-align: left;
  color: var(--main-textc);
  background-color: var(--bs-body-bg);
  margin: 0;
  white-space: nowrap;
  /* Prevent content from wrapping */
  text-overflow: ellipsis;
  /* Show ellipsis for hidden content */
}

/* Adjust position of table body to accommodate fixed header */
.table-body {
  margin-top: 40px;
  /* Adjust this value based on the header height */
}

/* ionic icons */
ion-icon {
  color: lightgray;
  width: 35px;
  height: 35%;
  margin: 0;
  padding: 0;
}

.nav-link.active {
  color: var(--main-primary-button) !important;
}

thead {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

/* MODALs */

/* Styles for the modal overlay */
#symbol-modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0);
  /* Semi-transparent background */
  z-index: 5;
  /* Ensure it's on top of other content */
  justify-content: center;
  align-items: center;
  border: 0.5px solid gray;
}

/* Styles for the dropdown within the modal */
#symbol-dropdown {
  max-height: 180px;
  max-width: 100px;
  /* Adjust as needed */
  overflow-y: auto;
  border: none;
  border-radius: 5px;
  padding: 8px;
}

.login_form {
  -ms-transform: translate(-50%, -50%);
  /* background-color: #1a1c22; */
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 50%;
  padding: 4% 5% 2% 5%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

.login_form h1 {
  /* background-color: #1a1c22; */
  margin-bottom: 24px;
}

.login_other {
  /* background-color: #1a1c22; */
  margin-bottom: 5rem;
}

.signup_form {
  -ms-transform: translate(-50%, -50%);
  /* background-color: #1a1c22; */
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 50%;
  padding: 4% 5% 2% 5%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

#signup_logo_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 75px;
}

.signup_title {
  /* background-color: #1a1c22; */
  margin-bottom: 24px;
}

.fields {
  align-items: center;
  /* background-color: #1a1c22; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.email_input,
.psw_input,
.name_input {
  /* background-color: #25272d; */
  /* color: #fff; */
  margin: 4px 0;
  text-align: left;
  outline: none;
  padding: 18px;
  width: 100%;
}

.name_input::placeholder,
.email_input::placeholder,
.psw_input::placeholder {
  color: var(--main-text-color);
  font-weight: 100;
}

.button {
  align-self: center;
  background-color: var(--main-primary-button);
  border-radius: 5px;
  border: none;
  /* color: #fff; */
  font-size: 12px;
  margin: 4px 0;
  padding: 8px 0;
  width: 100%;
}

.button:hover {
  opacity: 80%;
}

.button:active {
  opacity: 50%;
}

.or_text::before {
  background-color: var(--main-background-color);
  content: "or";
  left: 50%;
  padding: 0 16px;
  position: absolute;
  transform: translate(-50%, -50%);
}

/* .signup_text::before {
  background-color: var(--main-background-color);
  content: "Don't have an account?";
  left: 50%;
  padding: 0 8px;
  position: absolute;
  transform: translate(-50%, -50%);
} */

.login_text,
.signup_text {
  align-items: center;
  display: flex;
  justify-content: center;
}

.login_text::before,
.signup_text::before {
  background-color: var(--main-text-color);
  content: "";
  height: 1px;
  position: relative;
  right: 5px;
  top: -5px;
  width: 25%;
}

.login_text::after,
.signup_text::after {
  background-color: var(--main-text-color);
  content: "";
  height: 1px;
  position: relative;
  right: -5px;
  top: -5px;
  width: 25%;
}

/* .login_text::before {
  background-color: var(--main-background-color);
  content: "Do you have an account?";
  left: 50%;
  padding: 0 4px;
  position: absolute;
  transform: translate(-50%, -50%);
} */

.sign_up_link {
  align-self: center;
  border-radius: 5px;
  border: 1px solid var(--main-primary-button);
  color: var(--main-primary-button);
  font-size: 12px;
  margin: 4px 0;
  padding: 8px 0;
  width: 100%;
}

.sign_up_link:hover {
  opacity: 80%;
}

.sign_up_link:active {
  opacity: 50%;
}

.login_wrapper,
.signup_wrapper {
  /* background-color: #1a1c22; */
  display: flex;
  flex-direction: column;
}

.login_link {
  align-self: center;
  border-radius: 5px;
  border: 1px solid var(--main-primary-button);
  color: var(--main-primary-button);
  font-size: 12px;
  margin: 4px 0;
  padding: 8px 0;
  width: 100%;
}

.login_link:hover {
  opacity: 80%;
}

.login_link:active {
  opacity: 50%;
}

.flag_theme {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.flag_theme>* {
  margin: 0 8px;
}

.flag_toggle::after,
.theme_toggle::after {
  display: none;
}

.theme_button {
  border: none;
}

.btn-close {
  filter: var(--bs-btn-close-white-filter);
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
}

.modal-dialog {
  width: 100%;
}

.iCBOUB svg path,
.iCBOUB svg circle {
  color: var(--main-numbersc);
}

.greyBtn {
  background-color: var(--bs-body-bg);
  color: var(--main-input-textc);
}

.disabled {
  opacity: 0.7;
}

.css-qbdosj-Input {
  background-color: transparent !important;
}

.Toastify__toast-theme--dark {
  background-color: gray !important;
  margin-top: 10px;
}

.Toastify__toast-container--top-right {
  background-color: transparent !important;
  margin-bottom: 10px;
}

.Toastify__toast-body {
  background-color: gray !important;
}

.Toastify__toast-body>div:last-child {
  background-color: gray !important;
}

.Toastify--animate-icon {
  background-color: gray !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

#timezone {
  outline: none;
  /* font-size: 14px; */
  font-weight: 500;
}

#timeframe {
  color: rgb(51, 51, 51);
  /* font-size: 14px; */
  margin-left: 4rem;
}

#timeframe button {
  border: none;
  padding-inline: 4px;
  margin-inline-start: 4px;
}

#timeframe button.selected {
  background-color: var(--highcharts-neutral-color-20);
}

#timeframe button:hover {
  background-color: var(--highcharts-neutral-color-20);
}

#resize-bar {
  background-color: var(--main-textc);
  border-radius: 2px;
  cursor: n-resize;
  height: 4px;
  width: 10%;
}

.btn {
  border: none;
}

.dropdown-menu {
  background-color: var(--main-secondary-color);
  color: var(--main-text-color);
}

.dropdown-item:hover {
  background-color: var(--main-text-color);
  color: var(--main-background-color);
}

.dropdown-item:active {
  background-color: var(--main-primary-button);
  color: var(--main-text-color);
}

hr {
  color: var(--separator-line-color);
  opacity: 1;
}

.css-16h6fuu-indicatorContainer svg,
.css-htbb98-indicatorContainer svg {
  background-color: var(--main-secondary-color) !important;
}

.css-2fv632-ValueContainer,
.css-2fv632-ValueContainer * {
  background-color: var(--main-secondary-color);
}

.reports-modal {
  background-color: var(--main-secondary-color);
}

.reports-modal .btn-close {
  border: none;
  color: var(--main-text-color);
  margin: 0 12px;
}

.reports-modal ul {
  align-items: center;
  display: flex;
  justify-content: center;
}

.reports-modal ul li {
  background-color: inherit;
  margin-bottom: 12px;
}

.reports-modal ul li button {
  background-color: var(--main-background-color);
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 12px !important;
  padding: 12px 0;
  width: 200px;
}

.reports-modal ul li button:hover {
  border-color: var(--main-primary-button) !important;
}

.reports-modal ul li button.active {
  background-color: var(--main-primary-button) !important;
  color: var(--main-text-color) !important;
}

.reports-modal .rdt_Pagination span {
  background-color: var(--main-secondary-color);
}

.reports-modal .rdt_Pagination .fdfNNu,
.reports-modal .rdt_Pagination svg {
  border-radius: 5px;
}

.report-footer {
  align-items: center;
  background-color: inherit;
  display: flex;
  justify-content: space-between;
}

.report-footer select {
  border-radius: 5px;
  padding: 8px;
  border-color: var(--main-primary-button);
}

.report-footer span {
  background-color: inherit;
  font-weight: 700;
}

.report-footer button {
  background-color: var(--main-primary-button);
  border-radius: 5px;
  border: none;
  font-weight: 600;
  padding: 4px 16px;
}

.report-footer button:hover {
  opacity: 0.8;
}

.asset-modal .modal-dialog {
  background-color: transparent;
}

.asset-modal .modal-content {
  background-color: var(--main-secondary-color);
}

.asset-modal .form-item {
  align-items: center;
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  margin: 5% 10%;
}

.asset-modal .form-item label {
  background-color: inherit;
  font-weight: 700;
}

.asset-modal .form-item select {
  background-color: var(--main-background-color);
  border-radius: 5px;
  border: none;
  height: 32px;
  padding: 0 4px;
  width: 60%;
}

.asset-modal .asset-btn-group {
  align-items: center;
  background-color: inherit;
  display: flex;
  justify-content: space-evenly;
  margin: 12px 0;
}

.asset-modal .asset-btn-group button {
  border-radius: 5px;
  border: none;
  font-weight: 500;
  padding: 8px 0;
  width: 25%;
}

.asset-modal .asset-btn-group button:hover {
  opacity: 0.8;
}

.highcharts-annotation-shapes path {
  stroke-width: 1px;
  stroke: var(--main-text-color);
}

.highcharts-annotation-shapes path {
  stroke: var(--main-secondary-color);
}

.highcharts-axis-labels text {
  fill: var(--main-text-color) !important;
}

.highcharts-axis-labels.highcharts-xaxis-labels.highcharts-navigator-xaxis .highcharts-text-outline {
  stroke-width: 0px;
}

.highcharts-background {
  fill: var(--main-secondary-color);
}

.highcharts-bindings-wrapper .highcharts-stocktools-toolbar li {
  background-color: var(--main-background-color);
}

.highcharts-bindings-wrapper {
  width: 60px !important;
}

.highcharts-bindings-wrapper li>button.highcharts-menu-item-btn {
  filter: invert(1);
}

.highcharts-grid-line {
  stroke: var(--main-background-color);
}

.highcharts-indicator-list button.highcharts-indicator-list-item {
  background-color: unset;
}

.highcharts-label.highcharts-annotation-label.highcharts-no-tooltip {
  filter: invert(1);
}

.highcharts-menu-wrapper {
  background-color: inherit;
}

.highcharts-range-selector-buttons {
  filter: invert(1);
}

.highcharts-root {
  border-radius: 7px;
  font-family: inherit !important;
  padding: 2px;
}

.highcharts-toggle-toolbar.highcharts-arrow-left {
  left: 50px !important;
}

.highcharts-scrollbar-thumb {
  fill: var(--main-primary-button);
}

.highcharts-scrollbar-track {
  fill: var(--main-secondary-color);
}

.form-check-input:checked {
  background-color: var(--main-primary-button);
  border-color: var(--main-primary-button);
}



/* .hide-on-mobile {
  display: block!important;
} */

.hide-on-desktop {
  display: none !important;
}

#header #balance .help-box {
  display: none;
}

#header #balance .page-title {
  display: none;
}

.mobile-tabs {
  display: none;
}

/* .min-h-100{
  min-height: 0%;
} */


.modal-body .reports-overview-box {
  /* background-color: #fff; */
}

/* .modal-body .reports-overview-box .title{
  color: var(--main-text-color);
  font-weight: 600;
  font-size: 18px;

}

.modal-body .reports-overview-box ul {
  display: block;
  list-style-type: none;
} */